<html>
    <head>
     
        <title>CoinExchange</title>
        <h1><font color= "blue">Coin Exchange</h1></font>
        <font color= "blue">Type in your desired number </font>

        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>
    <body background="images/memillionthdollar.jpg" align="middle">
    <form method="post" action="cents">
    <input type="number" name="textbox1" class="coinbox" >
    <input type="submit">
    </form>
    <%=cash%>
        <div>
        </div>
        <div id="bob">
        </div>
        <div class="billy">
            
        </div>
        
    </body>
</html>